<div id="<%= dom_id release_date %>">
  <p>
    <strong>Human:</strong>
    <%= release_date.human %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= release_date.platform_id %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= release_date.game_id %>
  </p>

</div>
