<h1>Editing release date</h1>

<%= render "form", release_date: @release_date %>

<br>

<div>
  <%= link_to "Show this release date", @release_date %> |
  <%= link_to "Back to release dates", release_dates_path %>
</div>
