<h1>Editing screenshot</h1>

<%= render "form", screenshot: @screenshot %>

<br>

<div>
  <%= link_to "Show this screenshot", @screenshot %> |
  <%= link_to "Back to screenshots", screenshots_path %>
</div>
